/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2016, 11:32:05 AM
    Author     : Tapos
*/

#AnchorPane,#PersonAnchorPane,#showPeople{
      -fx-background-image: url("light_blue.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#back{
    -fx-background-image: url("back03.gif");
    -fx-background-size: 10px 30px;
     -fx-cursor:hand;
}
#loginId {
    -fx-padding: 8 15 15 15;
    
    -fx-background-radius: 8;
     -fx-cursor:hand;
    -fx-background-color:#ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

#forgetPassword{
    -fx-padding: 12 15 10 10;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
     -fx-cursor:hand;
    -fx-background-color:#ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    
}

#menubutton{
    -fx-padding: 8 10 10 10;
/*    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;*/
    -fx-background-radius: 8;
    -fx-cursor:hand;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-background-color:transparent ;
    -fx-border-color:black;
    -fx-border-radius:15;
    
    
}

#tableView{
   -fx-background-color:transparent;
    -fx-alignment: CENTER-LEFT;
}

.text-field {
    -fx-font-size: 12pt;
}
.table-view .column-header{
    -fx-font-size: 18px;
    -fx-table-cell-border-color: transparent;
    -fx-background-color:transparent;
     -fx-alignment: CENTER-LEFT;
}

.table-cell {
    -fx-font-size: 20px;
    
    -fx-alignment: center;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-text-background-color:#F5F5F5;
    
     
}
.table-row-cell {
  -fx-background-color: transparent;
}
.checker{
    
     -fx-font-size: 10px;
     
}


.column-header-background { visibility: hidden; -fx-padding: -1em; }


#settings,#home{
    -fx-background-image: url("light_blue.jpg");
}
#primarycameracombobox,#secondarycameracombobox{
    
}

#AnchorPaneLoading{
    -fx-background-image: url("loading.jpg");
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    -fx-background-position: center center;
    -fx-background-radius: 50;
}

